$color__link : $color-green;
a {
	color: $color__link;
	@include transition(all .3s ease);
	// border-bottom: 2px solid $color-green;

	/*&:visited {
		color: $color__link-visited;
	}*/
	&:hover,
	&:focus,
	&:active {
		color: $color-dark-green;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
		background-color: rgba($color-green, .2);
	}
}