.main-navigation {
	clear: both;
	display: block;
	text-align: center;
	width: 100%;
	background-color: $color-green;

	@media screen and (min-width: $tabwidth) {
		min-height: 50px;
		margin: 50px 0 0 0;
	}
	@media screen and (min-width: $midwidth) {
		min-height: 70px;
		margin: -100px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {
		min-height: 65px;
		margin: -160px 0 0 0;
	}
	@media screen and (min-width: $largewidth) {
		min-height: 65px;
		margin: -160px 0 0 0;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: $color-green;

		ul {
			background-color: $color-green;
			float: left;
			position: absolute;
			top: 3.5em;
			left: -999em;
			z-index: 99999;
			width: 200px;
			@media screen and (min-width: $midwidth) {
				top: 4.6em;
			}
			@media screen and (min-width: $deskwidth) {
				top: 3.99em;
			}
			@media screen and (min-width: $largewidth) {
				top: 3.99em;
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {
				width: 100%;
				margin: 0;
				line-height: 3;
				text-align: left;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
			
				display: block;
				font-size: 12px;
				padding: 5px 15px;
				width: 100%;
				white-space: normal;
				text-decoration:none;
				// color: #7faaef;
			}

			:hover > a,
			.focus > a {
				background-color: $color-dark-green;
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		font-size: 16px;
		line-height: 5.2857143;

		

		@media screen and (min-width: $tabwidth) {
			margin: 0 5px;
			font-size: 12px;
			line-height: 2.2857143;
		}
		@media screen and (min-width: $midwidth) {
			margin: 0 15px;
			font-size: 15px;
			line-height: 3.2857143;
		}
		@media screen and (min-width: $deskwidth) {
			margin: 0 20px;
			font-size: 16px;
			line-height: 2.82;
		}
		@media screen and (min-width: $largewidth) {
			margin: 0 30px;
			font-size: 16px;
			line-height: 2.82;
		}

		&:hover > a,
		&.focus > a {
		}
	}
	li:nth-child(4n) {
		float: right;
	}
	li:nth-child(5n) {
		float: right;
	}
	li:nth-child(6n) {
		float: right;
	}
	a {
		display: block;
		text-decoration: none;
		padding: 10px ;
		color: #fff;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	overflow: hidden;
	// background-color: $color-green;
	ul.sub-menu {
		background-color: rgba(255,255,255,.1);
	}
	
}


@media screen and (min-width: $midwidth) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
button.menu-toggle {
	border: 1px solid #fff;
	text-shadow: none;
	background: {
		color: $color-green;
		image: none;
	}
	color: #fff;
	box-shadow: none;
	width: auto;
	display: inline-block;
	margin: 10px auto;
	border-radius: 0;
	text-transform: uppercase;
	font: {
		
		weight :300;
		size: 20px;
	}
	
	@media screen and (min-width: $midwidth) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

	/* special nav classes */	
.get, .fundraising, .events {
	float: left;
	margin: 0 18px 0 0px;
	padding: 35px 10px 35px 10px;
}
.pta {
	float: left;
	margin: 0 13px 0 0px;
	padding: 35px 10px 35px 0px;
}
.spirit, .class {
	float: right;
	margin: 0 0px 0 18px;
	padding: 35px 10px 35px 10px;
}
.news {
	float: right;
	margin: 0 0px 0 10px;
	padding: 35px 0px 35px 10px;
}
